/* Base styles */
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #282c34; /* Dark background by default */
    color: #abb2bf; /* Light text by default */
    transition: background-color 0.3s, color 0.3s;
    padding-top: 70px; /* Adjusted for fixed header */
}

.strikethrough {
    text-decoration: line-through;
}

a {
    color: #61afef;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #528bff;
}

header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #21252b;
    color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.logoIcon {
    margin-left: 10px;
    font-size: 0.9rem;
}

nav a {
    margin: 0 10px; /* Increased spacing around links */
    color: #fff;
    padding: 5px 10px; /* Added padding for easier touch */
}

/* Enhanced responsive header adjustments */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        padding: 10px; /* Reduced padding in mobile view for more space */
    }

    nav {
        margin-top: 10px; /* Added space between logo and nav links */
    }

    nav a {
        display: block; /* Stack links vertically */
        margin: 5px 0; /* Adjust spacing for stacked layout */
        width: 100%; /* Full width links for easier touch */
        text-align: center; /* Center-align text in links */
    }
}

.menu-toggle {
    display: none;
    background-color: #21252b;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block; /* Show the toggle button on small screens */
        margin: 10px 0; /* Add some margin */
    }

    nav {
        display: none; /* Hide the navigation links by default */
    }

    nav.active {
        display: block; /* Display the navigation links when active */
        padding: 0; /* Adjust padding to align links more centrally */
    }

    nav a {
        display: block;
        margin: 10px auto; /* Center align the links by setting margin to auto */
        text-align: center;
        width: fit-content; /* Make the link width as per the content */
    }
}

/* Section styles */
section {
    padding: 2rem;
    text-align: center;
}

/* Feature sections */
.feature {
    display: flex;
    margin: 2rem 0;
    padding: 1rem;
}

/* Desktop: Text on the left, GIF on the right */
.feature:nth-child(odd) {
    flex-direction: row; /* Keeps default direction for odd features */
}

/* Desktop: GIF on the left, Text on the right */
.feature:nth-child(even) {
    flex-direction: row-reverse; /* Reverses the order for even features */
}

.feature-text, .feature-gif {
    width: 50%; /* Adjust based on your design needs */
}

/* Targeting the sub-features within the feature sections for desktop */
.feature-text .sub-features ul {
    list-style-type: none; /* Removes the default bullet points */
    padding-left: 0; /* Removes indentation to align with other content */
}

/* Optional: Adding padding or margin to list items for better spacing */
.feature-text .sub-features ul li {
    margin-bottom: 0.5rem; /* Adjusts spacing between list items */
}

/* Ensure images are responsive */
.feature-gif img {
    width: 100%;
    height: auto;
}

.sub-features li {
    padding: 6px;
}

/* Mobile adjustments */
@media (max-width: 768px) {
    .feature {
        display: block;
        flex-direction: column;
    }

    .feature-text, .feature-gif {
        width: 100%;
        order: 0; /* Resetting order */
    }

    /* Ensuring the GIF always comes first on mobile */
    .feature-gif {
        order: -1; /* This places the GIF above the text */
        margin-bottom: 20px; /* Adds some space between the GIF and the text below it */
    }
}

.code-container {
    background-color: #2c313a;
    color: #61afef;
    padding: 1rem;
    border-radius: 4px;
    display: inline-block;
}

code {
    user-select: all;
}

/* Usage section */
#usage {
    margin: 2rem auto;
    padding: 2rem;
    text-align: center;
}

.usage-examples .command {
    background-color: #2c313c;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    text-align: left;
}

.command code {
    background-color: #282c34;
    color: #61afef;
    padding: 0.5rem;
    display: block;
    margin-top: 1rem;
    border-radius: 4px;
    user-select: all;
}

/* Pricing table */
#pricing table {
    width: 80%;
    margin: 0 auto;
}

#pricing th, #pricing td {
    padding: 1rem;
    border: 1px solid #565c64;
    text-align: left;
    background-color: #282c34;
}

.pricingDetails {
    font-size: 0.8em;
}

.cta-button {
    margin-top: 1rem;
}

/* Footer */
footer {
    background-color: #21252b;
    color: #ddd;
    text-align: center;
    padding: 1rem;
    width: 100%;
}

.mobileHeader {
    display: none; /* Hide the table header on small screens */
    font-size: 0.9em;
}

/* Additional responsive adjustments */
@media (max-width: 600px) {
    .feature img {
        width: 100%;
    }

    /* Improvements for tables on small screens */
    #pricing table, #pricing th, #pricing td {
        display: block;
        width: 100%;
    }

    #pricing th, #pricing td {
        text-align: center;
        padding: .5rem;
    }

    /* Stack table rows vertically */
    #pricing tr {
        display: block;
        margin-bottom: 1rem;
    }

    #pricing thead {
        display: none; /* Hide the table header on small screens */
    }

    .mobileHeader {
        display: block; /* Hide the table header on small screens */
    }
}
